<section class="page"><div class="centered-box">
    <h2> Sign In</h2>

    <form method="POST" action="<%= session_url %>">
        <%= authentic %>
        <label for="user_email">Email Address</label>
            <input type="text" name="user[email]" id="user_email"/>
        <br>
        <label for ="user_password">Password</label>
            <input type="password" name="user[password]" id="user_password"/>
        <br>
            <input type="submit" value="Login!"/>
    </form>
</div></section>