# <section class="page"><div class="centered-box">
#     <h2> Oh you got a new album? </h2>

#     <form method="post" action="<%= bands_url%>">
#         <%= authentic %>
#         <label for="title">Whats it called?</label>
#             <input type="text" name="album[title]" id="title"/>
#             <br>
#             <input type="radio" name="album[live?]" value="false" checked> Studio
#             <input type="radio" name="album[live?" value="true"> Live<br>

#         <input type="submit" value="Time for a release party!"/>
#     </form>
# </div></section>