<section class="page"><div class="centered-box">
    <h2> New Band</h2>

    <form method="post" action="<%= bands_url%>">
        <%= authentic %>
        <label for="band_name">Type your sick band name!</label>
            <input type="text" name="band[name]" id="band_name"/>
        <input type="submit" value="Duuuuude! sick band name!"/>
    </form>
</div></section>